<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService">
          <security mode="Transport" />
        </binding>
        <binding name="PersonelPortSoap11">
          <security mode="Transport" />
        </binding>
        <binding name="PersonelPortSoap111" />
        <binding name="YuksekOgretimEgitimBilgisiPortSoap11">
          <security mode="Transport" />
        </binding>
        <binding name="YuksekOgretimEgitimBilgisiPortSoap111" />
      </basicHttpBinding>
      <customBinding>
        <binding name="default" sendTimeout="00:05:00">
          <textMessageEncoding>
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          </textMessageEncoding>
          <httpTransport maxReceivedMessageSize="2147483647" />
        </binding>
        <binding name="kpsBinding">
          <security authenticationMode="IssuedTokenOverTransport" />
          <textMessageEncoding />
          <httpsTransport maxReceivedMessageSize="2147483647" />
        </binding>
        <binding name="CustomBinding_KisiSorgulaTCKimlikNoServis">
          <security defaultAlgorithmSuite="Default" authenticationMode="IssuedTokenOverTransport"
            requireDerivedKeys="false" securityHeaderLayout="Strict" includeTimestamp="true"
            keyEntropyMode="CombinedEntropy" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
            <issuedTokenParameters keyType="SymmetricKey" tokenType="">
              <issuer address="https://kimlikdogrulama.nvi.gov.tr/Services/Issuer.svc/IWSTrust13" />
              <issuerMetadata address="https://kimlikdogrulama.nvi.gov.tr/Services/Issuer.svc/mex" />
            </issuedTokenParameters>
            <localClientSettings cacheCookies="true" detectReplays="false"
              replayCacheSize="900000" maxClockSkew="00:05:00" maxCookieCachingTime="Infinite"
              replayWindow="00:05:00" sessionKeyRenewalInterval="10:00:00"
              sessionKeyRolloverInterval="00:05:00" reconnectTransportOnFailure="true"
              timestampValidityDuration="00:05:00" cookieRenewalThresholdPercentage="60" />
            <localServiceSettings detectReplays="false" issuedCookieLifetime="10:00:00"
              maxStatefulNegotiations="128" replayCacheSize="900000" maxClockSkew="00:05:00"
              negotiationTimeout="00:01:00" replayWindow="00:05:00" inactivityTimeout="00:02:00"
              sessionKeyRenewalInterval="15:00:00" sessionKeyRolloverInterval="00:05:00"
              reconnectTransportOnFailure="true" maxPendingSessions="128"
              maxCachedCookies="1000" timestampValidityDuration="00:05:00" />
          </security>
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
            messageVersion="Default" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpsTransport manualAddressing="false" maxBufferPoolSize="524288"
            maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
            bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
            keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
            realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
            useDefaultWebProxy="true" requireClientCertificate="false" />
        </binding>
        <binding name="CustomBinding_KisiListeleServis" />
        <binding name="CustomBinding_KisiSorgulaTCKimlikNoServis1">
          <security defaultAlgorithmSuite="Default" authenticationMode="IssuedTokenOverTransport"
            requireDerivedKeys="false" securityHeaderLayout="Strict" includeTimestamp="true"
            keyEntropyMode="CombinedEntropy" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
            <issuedTokenParameters keyType="SymmetricKey" tokenType="">
              <issuer address="https://kimlikdogrulama.nvi.gov.tr/Services/Issuer.svc/IWSTrust13"
                binding="ws2007HttpBinding" bindingConfiguration="https://kimlikdogrulama.nvi.gov.tr/Services/Issuer.svc/IWSTrust13" />
              <issuerMetadata address="https://kimlikdogrulama.nvi.gov.tr/Services/Issuer.svc/mex" />
            </issuedTokenParameters>
            <localClientSettings cacheCookies="true" detectReplays="false"
              replayCacheSize="900000" maxClockSkew="00:05:00" maxCookieCachingTime="Infinite"
              replayWindow="00:05:00" sessionKeyRenewalInterval="10:00:00"
              sessionKeyRolloverInterval="00:05:00" reconnectTransportOnFailure="true"
              timestampValidityDuration="00:05:00" cookieRenewalThresholdPercentage="60" />
            <localServiceSettings detectReplays="false" issuedCookieLifetime="10:00:00"
              maxStatefulNegotiations="128" replayCacheSize="900000" maxClockSkew="00:05:00"
              negotiationTimeout="00:01:00" replayWindow="00:05:00" inactivityTimeout="00:02:00"
              sessionKeyRenewalInterval="15:00:00" sessionKeyRolloverInterval="00:05:00"
              reconnectTransportOnFailure="true" maxPendingSessions="128"
              maxCachedCookies="1000" timestampValidityDuration="00:05:00" />
          </security>
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
            messageVersion="Default" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpsTransport manualAddressing="false" maxBufferPoolSize="524288"
            maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
            bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
            keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
            realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
            useDefaultWebProxy="true" requireClientCertificate="false" />
        </binding>
        <binding name="CustomBinding_KimlikNoSorgulaAdresServis" />
        <binding name="CustomBinding_BilesikKutukSorgulaKimlikNoServis">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_NkoSorgulaTCKimlikNoServis">
          <security defaultAlgorithmSuite="Default" authenticationMode="IssuedTokenOverTransport"
            requireDerivedKeys="false" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrust13WSSecureConversation13WSSecurityPolicy12BasicSecurityProfile10">
            <issuedTokenParameters>
              <additionalRequestParameters>
                <trust:SecondaryParameters xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">
                  <trust:KeyType xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://docs.oasis-open.org/ws-sx/ws-trust/200512/SymmetricKey</trust:KeyType>
                </trust:SecondaryParameters>
              </additionalRequestParameters>
              <issuer address="https://kimlikdogrulama.nvi.gov.tr/Services/Issuer.svc/IWSTrust13"
                binding="ws2007HttpBinding" bindingConfiguration="https://kimlikdogrulama.nvi.gov.tr/Services/Issuer.svc/IWSTrust13" />
              <issuerMetadata address="https://kimlikdogrulama.nvi.gov.tr/Services/Issuer.svc/mex" />
            </issuedTokenParameters>
            <!--<alternativeIssuedTokenParameters>
  <issuedTokenParameters>
    <issuer address="https://kimlikdogrulama.nvi.gov.tr/Services/Issuer.svc/IWSTrust13" bindingConfiguration="https://kimlikdogrulama.nvi.gov.tr/Services/Issuer.svc/IWSTrust13" binding="ws2007HttpBinding" />
  </issuedTokenParameters>
  <issuedTokenParameters>
    <issuer address="https://kimlikdogrulama.nvi.gov.tr/Services/Issuer.svc/IWSTrust13" bindingConfiguration="https://kimlikdogrulama.nvi.gov.tr/Services/Issuer.svc/IWSTrust13" binding="ws2007HttpBinding" />
  </issuedTokenParameters>
</alternativeIssuedTokenParameters>-->
            <localClientSettings detectReplays="false" />
            <localServiceSettings detectReplays="false" />
          </security>
          <textMessageEncoding />
          <httpsTransport />
        </binding>
      </customBinding>
      <ws2007HttpBinding>
        <binding name="IssuedTokenBinding">
          <readerQuotas maxArrayLength="2147483647" />
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="Windows" establishSecurityContext="false" />
          </security>
        </binding>
        <binding name="WS2007HttpBinding_IWSTrust13Sync" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="2147483647"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="None" negotiateServiceCredential="true"
              algorithmSuite="Default" establishSecurityContext="false" />
          </security>
        </binding>
        <binding name="stsIssuerServiceBinding">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" establishSecurityContext="false" />
          </security>
        </binding>
        <binding name="https://stsdev.kaleyazilim.com.tr/Services/Issuer.svc/IWSTrust13"
          closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00"
          sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false"
          hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288"
          maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8"
          useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true"
              algorithmSuite="Default" establishSecurityContext="false" />
          </security>
        </binding>
        <binding name="https://kimlikdogrulama.nvi.gov.tr/Services/Issuer.svc/IWSTrust13">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message establishSecurityContext="false" />
          </security>
        </binding>
      </ws2007HttpBinding>
    </bindings>
    <client>
      <endpoint address="https://kimlikdogrulama.nvi.gov.tr/Services/Issuer.svc/IWSTrust13"
        binding="ws2007HttpBinding" bindingConfiguration="stsIssuerServiceBinding"
        contract="Microsoft.IdentityModel.Protocols.WSTrust.IWSTrustChannelContract"
        name="STSIssuerService" />
      <endpoint address="https://kpsv2test.nvi.gov.tr/Services/RoutingService.svc"
        binding="customBinding" bindingConfiguration="kpsBinding" contract="BilesikKutukSorgula.BilesikKutukSorgulaKimlikNoServis"
        name="BindingBilesikKutukSorgulaKimlikNoServis" />
      <endpoint address="https://kpsv2test.nvi.gov.tr/Services/RoutingService.svc"
        binding="customBinding" bindingConfiguration="kpsBinding" contract="KisiListele.KisiListeleServis"
        name="BindingKisiListeleServis" />
      <endpoint address="https://kpsv2test.nvi.gov.tr/Services/RoutingService.svc"
        binding="customBinding" bindingConfiguration="kpsBinding" contract="TCKimlikAdresSorgula.KimlikNoSorgulaAdresServis"
        name="BindingTcKimlikNoSorgulaAdresServis" />
      <endpoint address="https://kpsv2test.nvi.gov.tr/Services/RoutingService.svc"
        binding="customBinding" bindingConfiguration="CustomBinding_KisiSorgulaTCKimlikNoServis1"
        contract="KPSKimlik.KisiSorgulaTCKimlikNoServis" name="CustomBinding_KisiSorgulaTCKimlikNoServis" />
      <endpoint address="https://mebservis.meb.gov.tr/PASO/v2/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
        contract="Meb.IService" name="BasicHttpBinding_IService" />
      <endpoint address="https://servis.turkiye.gov.tr/services/g2g/yok/AkademikPersonelOzet"
        binding="basicHttpBinding" bindingConfiguration="PersonelPortSoap11"
        contract="YokAkademikPersonelSorgula.PersonelPort" name="PersonelPortSoap11" />
      <endpoint address="https://servis.turkiye.gov.tr/services/g2g/yok/OZT-0000-C3191567"
        binding="basicHttpBinding" bindingConfiguration="YuksekOgretimEgitimBilgisiPortSoap11"
        contract="YokOgrenciSorgula.YuksekOgretimEgitimBilgisiPort"
        name="YuksekOgretimEgitimBilgisiPortSoap11" />
      <endpoint address="http://kpsv2test.nvi.gov.tr/Services/RoutingService.svc"
        binding="customBinding" bindingConfiguration="CustomBinding_BilesikKutukSorgulaKimlikNoServis"
        contract="BilesikKutukSorgula.BilesikKutukSorgulaKimlikNoServis"
        name="CustomBinding_BilesikKutukSorgulaKimlikNoServis" />
      <endpoint address="http://kpsv2test.nvi.gov.tr/Services/RoutingService.svc"
        binding="customBinding" bindingConfiguration="CustomBinding_NkoSorgulaTCKimlikNoServis"
        contract="NufusKayitOrnegi.NkoSorgulaTCKimlikNoServis" name="CustomBinding_NkoSorgulaTCKimlikNoServis" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="ABBServiceCheckerEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=176.88.198.69;initial catalog=ABBServiceChecker;persist security info=True;user id=ulasim_user;password=Abb@2019;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>